.Название_заголовка{
    font-size: 40pt;
}
body {
    background-repeat: no-repeat;
    background-image: url(3.jpg);
    background-size: 100% 100%;
    background-attachment: fixed;
}
.Контакты{
    display: inline-block;
    width: 100%;
    font-size: 40px;
}
table{
    border-style: solid;
    width: 50%; 
    border-collapse: collapse
}
table td {
    border-style: solid;
    border-width:1px 1px 1px 1px
}  
.Название_заголовка{
    margin-left: 20%;
    color: #FF0000;
}
.Награды{
    position: absolute;
    margin-left: 70%;
    top: 260px;
}
#avatar { 
      left: 50px; 
      top: 80px;
}
.Таблица{  
    left: 50px; 
    top: 280px;
}
.Информация{
    position: absolute;
    left: 30px; 
    bottom: 50px;
}
.Положительные_качества{ 
    position: absolute;
    margin-left: 70%;
    bottom: 150px;
}